$color-white: #fff;
$color-black: #000;
$color-red: #FF6060;
$color-red-hover: #FF4040;
$color-gray: #E3E3E3;
$color-gray-light: #F6F6F6;
$background-linear: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);